body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  color: rgb(255, 255, 255);
}

.wrapper {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin-top: -442px;
  overflow: hidden;
}

._button {
  display: block;
  font-size: 1em;
  text-align: center;
}

._button:hover {
  color: rgb(194, 32, 74);
}

._input {
  display: block;
  position: fixed;
  top: 50px;
  left: 81%;
  z-index: 9;
  width: 15.0833333333%;
  height: 33px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.element-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 103px;
  background-color: rgb(255, 255, 255);
}

.element-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 108%;
  height: 698px;
  margin-top: 19px;
  background-color: rgb(194, 32, 74);
}

.image-1 {
  position: fixed;
  top: 25px;
  left: 3.67%;
  z-index: 10;
  width: 169px;
}

.image-2 {
  position: relative;
  float: left;
  z-index: 3;
  width: 18px;
  margin: 67px 0 0 93.5%;
}

.image-3 {
  position: fixed;
  top: 57px;
  left: 93.5%;
  z-index: 17;
  width: 18px;
}

.text-1 {
  clear: both;
  z-index: 1;
  width: 86.1666666666%;
  min-height: 293px;
  margin: -574px 0 0 7.33073%;
  font-size: 1.25em;
}

.text-2 {
  z-index: 8;
  width: 32.8333333333%;
  min-height: 223px;
  margin: -649px 0 0 7.33073%;
  font: 700 2.875em/1.18 Arial;
}

.text-3 {
  z-index: 18;
  width: 25%;
  min-height: 36px;
  margin: -231px 0 0 13.41146%;
  font-size: 1em;
}

.text-4 {
  z-index: 19;
  width: 25%;
  min-height: 36px;
  margin: -231px 0 0 40.16276%;
  font-size: 1em;
}

.text-5 {
  clear: both;
  z-index: 20;
  width: 25%;
  min-height: 36px;
  margin: -231px 0 0 76.41667%;
  font-size: 1em;
}

.wrapper-1 {
  z-index: 4;
  margin-left: 7.33073%;
}

.wrapper-2 {
  z-index: 5;
  margin-left: 37.58203%;
}

.wrapper-3 {
  z-index: 6;
  margin-left: 68.4974%;
}

._button-1 {
  position: fixed;
  top: 50px;
  left: 65.7682291666%;
  z-index: 16;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-2 {
  position: fixed;
  top: 50px;
  left: 57.3502604166%;
  z-index: 15;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-3 {
  position: fixed;
  top: 50px;
  left: 49.1888020833%;
  z-index: 14;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-4 {
  position: fixed;
  top: 50px;
  left: 41.0729166666%;
  z-index: 13;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-5 {
  position: fixed;
  top: 50px;
  left: 32.7434895833%;
  z-index: 12;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-6 {
  position: fixed;
  top: 50px;
  left: 24.9973958333%;
  z-index: 11;
  width: 7.4166666666%;
  height: 33px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

._button-7 {
  position: relative;
  float: left;
  z-index: 2;
  width: 17.25%;
  height: 46px;
  margin: -140px 0 0 41.08203%;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(255, 255, 255);
}