<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>about</title>
  <link rel="stylesheet" href="../static/css/standardize.css">
  <link rel="stylesheet" href="../static/css/index-grid.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body page-about clearfix">
  <img class="image image-1" src="../static/images/Vector.png">
  <button class="_button _button-1"><a href="{{ url_for('connect') }}">Connect</a></button>
  <button class="_button _button-2">><a href="{{ url_for('vitality') }}">Vitality</a></button>
  <button class="_button _button-3">><a href="{{ url_for('plans') }}">Plans</a></button>
  <button class="_button _button-4">><a href="{{ url_for('learn') }}">Learn</a></button>
  <button class="_button _button-5">><a href="{{ url_for('about') }}">About</a></button>
  <button class="_button _button-6">><a href="{{ url_for('home') }}">Home</a></button>
  <img class="image image-2" src="../static/images/philam start logo.png">
  <input id="search" class="_input" name="Search..." type="text">
  <div class="element element-1"></div>
  <img class="image image-3" src="../static/images/Vector.png">
  <div class="element element-2"></div>
  <p class="text text-1">Our mission is to connect you with the information you need to be able to have a healthier, richer life. Through easy-to-understand and interactive lessons, even a beginner who has no experience can learn how to invest in their safety. In PhilamStart, we give you the resources you need to invest in your future. We invite you to explore our site and learn about the different financial opportunities available at your fingertips. Invest in your future, today.</p>
  <p class="text text-2">About</p>
  <div class="element element-3"></div>
</body>
</html>
