<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>about-copy</title>
  <link rel="stylesheet" href="../static/css/standardize.css">
  <link rel="stylesheet" href="../static/css/index-grid.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body page-about-copy clearfix">
  <button class="_button _button-1"><a href="{{ url_for('connect') }}">Connect</a></button>
  <button class="_button _button-2">><a href="{{ url_for('vitality') }}">Vitality</a></button>
  <button class="_button _button-3">><a href="{{ url_for('plans') }}">Plans</a></button>
  <button class="_button _button-4">><a href="{{ url_for('learn') }}">Learn</a></button>
  <button class="_button _button-5">><a href="{{ url_for('about') }}">About</a></button>
  <button class="_button _button-6">><a href="{{ url_for('home') }}">Home</a></button>
  <img class="image image-1" src="../static/images/philam start logo.png">
  <input id="search" class="_input" name="Search..." type="text">
  <div class="element element-1"></div>
  <img class="image image-2" src="../static/images/Vector.png">
  <img class="image image-3" src="../static/images/Vector.png">
  <div class="element element-2"></div>
  <p class="text text-1">Explore through the various links below to learn how to better conduct financial literacy and how to integrate this into your life for a successful future through the games, quizzes, articles and videos!</p>
  <div class="wrapper wrapper-1"><iframe width="100%" height="100%" src="http://www.youtube.com/embed/https://www.youtube.com/watch?v=Zocb273qVJY" frameborder="0" allowfullscreen></iframe></div>
  <p class="text text-2">Learn</p>
  <div class="wrapper wrapper-2"><iframe width="100%" height="100%" src="http://www.youtube.com/embed/https://www.youtube.com/watch?v=JixjZ2PUH1U" frameborder="0" allowfullscreen></iframe></div>
  <div class="wrapper wrapper-3"><iframe width="100%" height="100%" src="http://www.youtube.com/embed/https://www.youtube.com/watch?v=Zocb273qVJY" frameborder="0" allowfullscreen></iframe></div>
  <p class="text text-3">What is insurance?</p>
  <p class="text text-4">What is the perfect plan for you?</p>
  <p class="text text-5">Why invest now?</p>
  <button class="_button _button-7">Watch more videos</button>
</body>
</html>
