<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>about-copy-copy</title>
  <link rel="stylesheet" href="../static/css/standardize.css">
  <link rel="stylesheet" href="../static/css/index-grid.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body page-about-copy-copy clearfix">
  <img class="image image-1" src="../static/images/Vector.png">
  <button class="_button _button-1"><a href="{{ url_for('connect') }}">Connect</a></button>
  <button class="_button _button-2">><a href="{{ url_for('vitality') }}">Vitality</a></button>
  <button class="_button _button-3">><a href="{{ url_for('plans') }}">Plans</a></button>
  <button class="_button _button-4">><a href="{{ url_for('learn') }}">Learn</a></button>
  <button class="_button _button-5">><a href="{{ url_for('about') }}">About</a></button>
  <button class="_button _button-6">><a href="{{ url_for('home') }}">Home</a></button>
  <img class="image image-2" src="../static/images/philam start logo.png">
  <input id="search" class="_input" name="Search..." type="text">
  <div class="element element-1"></div>
  <img class="image image-3" src="../static/images/Vector.png">
  <div class="element element-2"></div>
  <p class="text text-1">Want to start planning for your future? Here are the resources you need to be able to start investing in yourself.</p>
  <p class="text text-2">Plans</p>
  <img class="image image-4" src="../static/images/school-24px.svg">
  <img class="image image-5" src="../static/images/child_care-24px.svg">
  <img class="image image-6" src="../static/images/favorite-24px.svg">
  <img class="image image-7" src="../static/images/money-24px.svg">
  <p class="text text-3">Education</p>
  <p class="text text-4">Family</p>
  <img class="image image-8" src="../static/images/trending_up-24px(2).svg">
  <p class="text text-5">Health and Wellness</p>
  <p class="text text-6">Savings</p>
  <p class="text text-7">Business</p>
  <button onClick="window.location='https://www.philamlife.com/en/our-products.html';" class="_button _button-7">Learn more&nbsp;</button>
</body>
</html>
